html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 200px auto 250px;
  height: 80vh;
  font-family: "Arial", sans-serif;
  background: #f8f9fa;
  gap: 10px;
}

/* Sidebar */
.sidebar {
  background: #343a40;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Canvas */
.canvas {
  background: white;
  border: 2px dashed #ccc;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 15px;
} 




@media (max-width:600px){
  .container{
    display: block;
  }
} 
